<article class="post">

  <header class="post-header home">
    <div class="post-title">전체보기</div>
  </header>

  <!---->
  <div class="post-content">
    {%- if site.posts.size > 0 -%}
    <ul class="post-list">

      {%- for post in site.posts -%}

      <li class="post-list-item">
        <!-- {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} -->
        {%- assign date_format = "%Y/%m/%d" -%}
        <button type="button" onclick="location.href='{{ post.url | relative_url }}' ">
        [{{ post.categories }}] {{ post.title | escape }}
        <p class="preview">{{ post.content | strip_html | truncatewords:20 }}</p>

        </button>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </li>

      {%- endfor -%}
    </ul>
    {%- endif -%}
  </div>
</article>



</div>